# Version Control
/.wordpress-org
.git
.svn

# IDE
.idea
.windsurfrules

# Build Artifacts
/build
/dist
/svn

# Dependencies
/node_modules
/vendor

# Cache
/cache/*

# Miscellaneous
.DS_Store
.properties.ini
wpcom-helper.php
CONTRIBUTING.md
builder.yml
.env.testing
/bin
/local.sh
/packages
/lib/**/.git

dev-workspace/.cache
.env
.wordpress-org
.phplint-cache
/metrics
/security-audit
.vscode
dev-workspace-cache/
