@charset "utf-8";
/* CSS Document */

:root {
    --tinypress-color-primary: #6B5B95;
    --tinypress-color-primary-dim: rgba(107, 91, 149, 0.08);
    --tinypress-color-red: #f44336;
    --tinypress-color-red-dim: rgba(244, 67, 54, 0.08);
    --tinypress-color-green: #009688;
    --tinypress-color-yellow: #ffb200;

    --wpdk_settings-primary-color: var(--tinypress-color-primary);
    --wpdk_settings-primary-color-dim: var(--tinypress-color-primary-dim);
    --wpdk_settings-red-color: var(--tinypress-color-red);
    --wpdk_settings-yellow-color: var(--tinypress-color-yellow);
}

body.post-type-tinypress_link .wpdk_settings-metabox {
    margin-top: -20px;
}

body.post-type-tinypress_link #submitdiv {
    border: none;
    background: transparent;
    box-shadow: none;
}

body.post-type-tinypress_link #poststuff .inside {
    margin: 0;
}

body.post-type-tinypress_link #submitdiv .postbox-header,
body.post-type-tinypress_link #submitdiv #minor-publishing,
body.post-type-tinypress_link #submitdiv #major-publishing-actions .clear,
body.post-type-tinypress_link #tinypress_link_catdiv .postbox-header,
body.post-type-tinypress_link #tagsdiv-tinypress_link_tags .postbox-header,
body.post-type-tinypress_link #tinypress-meta-side .postbox-header,
body.post-type-tinypress_link #slugdiv {
    display: none !important;
}

body.post-type-tinypress_link #submitdiv #major-publishing-actions,
body.post-type-tinypress_link #tinypress_link_catdiv,
body.post-type-tinypress_link #tagsdiv-tinypress_link_tags,
body.post-type-tinypress_link #tinypress-meta-side {
    border: none;
    background: transparent;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: none;
}

body.post-type-tinypress_link #tinypress_link_catdiv .inside,
body.post-type-tinypress_link #tagsdiv-tinypress_link_tags .inside,
body.post-type-tinypress_link #tinypress-meta-side .inside {
    padding: 0;
    width: 100%;
    display: inline-block;
}

body.post-type-tinypress_link #submitdiv #major-publishing-actions #publish,
body.post-type-tinypress_link #submitdiv #major-publishing-actions #publish:active,
body.post-type-tinypress_link #submitdiv #major-publishing-actions #publish:focus {
    background: var(--wpdk_settings-primary-color) !important;
    color: #fff !important;
    border: none !important;
    font-size: 16px;
    line-height: 26px;
    padding: 14px 30px;
    border-radius: 4px;
}

body.post-type-tinypress_link #submitdiv #major-publishing-actions #publish:disabled,
body.post-type-tinypress_link #submitdiv #major-publishing-actions #publish.disabled {
    background: #ccc !important;
    cursor: not-allowed;
    opacity: 0.6;
}

body.post-type-tinypress_link #submitdiv #major-publishing-actions .submitdelete,
body.post-type-tinypress_link #submitdiv #major-publishing-actions .submitdelete:active,
body.post-type-tinypress_link #submitdiv #major-publishing-actions .submitdelete:focus {
    background: var(--wpdk_settings-red-color);
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 50px;
    font-size: 12px;
    line-height: 22px;
}

/* body.post-type-tinypress_link #tinypress_link_catdiv {

} */

body.post-type-tinypress_link #tinypress_link_catdiv .taxonomy-add-new,
body.post-type-tinypress_link #tinypress_link_catdiv .taxonomy-add-new:active,
body.post-type-tinypress_link #tinypress_link_catdiv .taxonomy-add-new:hover {
    text-decoration: none;
    font-weight: 500;
    outline: none;
    box-shadow: none;
}

body.post-type-tinypress_link #tinypress_link_catdiv .category-tabs {
    margin-bottom: 8px;
}

body.post-type-tinypress_link #tinypress_link_catdiv .category-tabs > li {
    padding: 10px;
}

body.post-type-tinypress_link #tinypress_link_catdiv .category-tabs > li > a,
body.post-type-tinypress_link #tinypress_link_catdiv .category-tabs > li > a:hover,
body.post-type-tinypress_link #tinypress_link_catdiv .category-tabs > li > a:active {
    padding: 0;
    outline: none;
    box-shadow: none;
}

body.post-type-tinypress_link #tinypress_link_catdiv #newtinypress_link_cat {
    padding: 10px 8px;
    border: 1px solid #eee;
    transition: 0.3s;
}

body.post-type-tinypress_link #tinypress_link_catdiv #newtinypress_link_cat:active,
body.post-type-tinypress_link #tinypress_link_catdiv #newtinypress_link_cat:focus {
    border-color: var(--tinypress-color-primary);
    box-shadow: none;
    outline: none;
}


/**
 * Meta Side
 */

/* .tinypress-meta-side {

}

.tinypress-meta-side .side-qr-code {
} */

.tinypress-meta-side .side-qr-code .qr-download,
.tinypress-meta-side .side-qr-code .qr-download:focus,
.tinypress-meta-side .side-qr-code .qr-download:active {
    display: inline-block;
    background: var(--tinypress-color-yellow);
    padding: 12px 18px;
    font-size: 14px;
    line-height: 26px;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
    text-transform: uppercase;
    margin-top: 10px;
    text-decoration: none;
    box-shadow: none;
    outline: none;
}

body.post-type-tinypress_link .wpdk_settings-field-text input,
body.post-type-tinypress_link .wpdk_settings-field-textarea textarea {
    padding: 10px 8px;
    border: 1px solid #eee;
    transition: 0.3s;
}

body.post-type-tinypress_link .wpdk_settings-field-text input:focus,
body.post-type-tinypress_link .wpdk_settings-field-text input:focus:active,
body.post-type-tinypress_link .wpdk_settings-field-textarea textarea:focus,
body.post-type-tinypress_link .wpdk_settings-field-textarea textarea:focus:active {
    border-color: var(--wpdk_settings-primary-color);
    box-shadow: none;
    outline: none;
}


body.post-type-tinypress_link .tinypress-settings-copy input {
    background: var(--tinypress-color-primary-dim);
    border: 1px solid var(--wpdk_settings-primary-color);
    cursor: pointer;
    color: #646464;
    position: relative;
}

/* body.post-type-tinypress_link .tinypress-settings-copy input:hover {

} */

body.post-type-tinypress_link .tinypress-settings-copy .copied {
    margin-left: 15px;
    font-size: 14px;
    color: var(--wpdk_settings-primary-color);
}


.tinypress-extensions-message > p {
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 5px;
    margin-right: 5px;
    display: inline;
}

/* ul.tinypress-extensions-list {

} */

ul.tinypress-extensions-list > li {
    margin-bottom: 20px;
    display: inline-block;
    width: 50%;
}

ul.tinypress-extensions-list > li > a {
    text-decoration: none;
}

ul.tinypress-extensions-list > li > a:active,
ul.tinypress-extensions-list > li > a:focus,
ul.tinypress-extensions-list > li > a:visited {
    outline: none;
    box-shadow: none;
}

ul.tinypress-extensions-list > li > a > svg {
    width: 36px;
}

ul.tinypress-extensions-list > li > a > svg > path {
    fill: #636363;
}

ul.tinypress-extensions-list > li.active > a > svg > path {
    fill: var(--tinypress-color-primary);
}

ul.tinypress-extensions-list > li > a > span.name {
    margin-left: 15px;
    font-size: 16px;
    color: #636363;
    line-height: 36px;
    vertical-align: top;
}

ul.tinypress-extensions-list > li.active > a > span.name {
    color: var(--tinypress-color-primary);
}

/**
 * Popup Box
 */
.tinypress-popup-container {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgb(0 0 0 / 40%);
    z-index: 99999;
    display: none;
}

.tinypress-popup-container .tinypress-popup-box {
    width: 320px;
    min-height: 280px;
    background: #fff;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: 0 0 30px 2px rgb(0 0 0 / 17%);
    border-radius: 8px;
}

.tinypress-popup-container .tinypress-popup-box .box-content {
    padding: 20px;
    text-align: center;
}


table.tinypress_link_page_tinypress-reports th#title {
    width: 15%;
}

table.tinypress_link_page_tinypress-reports th#short_link {
    width: 15%;
}

table.tinypress_link_page_tinypress-reports th#details {
    width: 65%;
}

.tiny-slug-wrap {
    display: inline-block;
}

.tiny-slug-wrap .tiny-slug-preview {
    border: none;
    padding: 16px;
    background-color: #393e46;
    color: #ffd350;
    cursor: pointer;
    border-radius: 3px;
    width: 100%;
    display: inline-block;
    box-sizing: border-box;
    font-size: 16px;
    overflow-wrap: anywhere;
}

.tiny-slug-wrap.mini .tiny-slug-preview {
    padding: 3px 8px;
    font-size: 14px;
    line-height: 24px;
    width: auto;
}

.tiny-slug-wrap .tiny-slug-preview.preview-mini {
    width: auto;
    padding: 4px 8px;
    font-size: 14px;
    line-height: 24px;
}

.tiny-slug-wrap .tiny-slug-preview > span {
    float: left;
}

.tiny-slug-wrap .tinypress-slug-field {
    margin-top: 10px;
    width: 100%;
}

.tiny-slug-wrap .tinypress-slug-field input[type=text],
.tiny-slug-wrap .tinypress-slug-field textarea {
    padding: 10px 8px;
    border: 1px solid #eee;
    transition: 0.3s;
    width: 100px;
}

.tiny-slug-wrap .tinypress-slug-field input[type=text]:focus,
.tiny-slug-wrap .tinypress-slug-field input[type=text]:focus:active,
.tiny-slug-wrap .tinypress-slug-field textarea:focus,
.tiny-slug-wrap .tinypress-slug-field textarea:focus:active {
    border-color: var(--tinypress-color-primary);
    box-shadow: none;
    outline: none;
}

.link-actions a.action {
    display: inline-block;
    background: var(--tinypress-color-yellow);
    color: #fff;
    padding: 3px 8px;
    margin-right: 5px;
    border-radius: 4px;
}

.link-actions a.action.action-delete {
    background: var(--tinypress-color-red);
}

.wpdk_settings-section #chart {
    padding: 20px;
}

.wpdk_settings-section #chart .toolbar {
    text-align: right;
}

.wpdk_settings-section #chart .filter-buttons {
    display: inline-block;
    border: 1px solid var(--tinypress-color-primary);
    padding: 0;
    border-radius: 5px;
    overflow: hidden;
}

.wpdk_settings-section #chart .filter-buttons .date-filter {
    padding: 10px;
    display: inline-block;
    cursor: pointer;
    transition: 0.3s;
    border-right: 1px solid;
    /* float: left; */
}

.wpdk_settings-section #chart .filter-buttons .date-filter.active {
    color: #fff;
    background: var(--tinypress-color-primary);
}

.wpdk_settings-section #chart .filter-buttons .date-filter:last-child {
    border-right: none;
}

/*copy link*/
.copy-link {
    width: 25px;
    height: 24px;
    cursor: pointer;
}

.wpdk_settings-nav > ul > li.wpdk_settings-tab-item:last-child {
    display: none;
}

.settings-block {
    width: 320px;
    box-shadow: 3px 3px 30px 0 rgb(0 0 0 / 17%);
    display: inline-block;
    /* float: left; */
    margin-right: 30px;
    margin-bottom: 30px;
    padding: 20px;
    border-radius: 8px;
    border: 1px solid #ddd;
}

/* .settings-block .block-icon {
}

.settings-block .title {
} */

.settings-block .details {
    margin-bottom: 20px;
}

.settings-block .learn-more,
.settings-block .learn-more:hover,
.settings-block .learn-more:focus,
.settings-block .learn-more:active {
    font-size: 12px;
    line-height: 18px;
    text-decoration: none;
    background: var(--tinypress-color-primary);
    color: #f1f1f1;
    padding: 3px 8px;
    border-radius: 4px;
    display: inline-block;
    box-shadow: none;
    outline: none;
}

th#tinypress-link {
    width: 120px;
}

.tinypress-column-content .single-link {
    display: inline-block;
    background: var(--tinypress-color-primary);
    margin-right: 10px;
    color: #fff;
    text-align: center;
    width: 36px;
    height: 36px;
    border-radius: 3px;
    cursor: pointer;
    vertical-align: top;
}

/* .tinypress-column-content .single-link.copy-link {

} */

.tinypress-column-content .single-link.analytics-link {
    background: var(--tinypress-color-yellow);
}

.tinypress-column-content .single-link .dashicons {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 18px;
}

#wpadminbar ul#wp-admin-bar-root-default > li.tinypress-admin-bar-icon {
    background: #6B5B95;
    min-width: 70px;
    position: relative;
    max-width: 70px;
}

#wpadminbar ul#wp-admin-bar-root-default > li.tinypress-admin-bar-icon > a,
#wpadminbar ul#wp-admin-bar-root-default > li.tinypress-admin-bar-icon:hover > a {
    background: #6B5B95;
    color: #fff;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

#wpadminbar ul#wp-admin-bar-root-default > li.tinypress-admin-bar-icon > a > span.tinypress-icon-text {
    font-size: 14px;
    line-height: 30px;
}

/**
 * Popup Style
 */
.tinypress-popup {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    opacity: 1;
    display: none;
    z-index: 9999999;
}

.tinypress-popup .tinypress-popup-box {
    padding: 30px 20px;
    background: #fff;
    border-radius: 5px;
    width: 420px;
    position: absolute;
    transition: all 0.3s ease-in-out;
    text-align: center;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.tinypress-popup .tinypress-popup-box .popup-content {
    font-size: 18px;
    line-height: 28px;
    margin: 20px 0 30px;
}

.tinypress-popup .tinypress-popup-box .popup-content .tinypress-logo {
    max-width: 260px;
    margin: 0 auto 15px auto;
}

.tinypress-popup .tinypress-popup-box .popup-content .tinypress-logo a,
.tinypress-popup .tinypress-popup-box .popup-content .tinypress-logo a:focus,
.tinypress-popup .tinypress-popup-box .popup-content .tinypress-logo a:active {
    outline: none;
    box-shadow: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

.tinypress-popup .tinypress-popup-box .popup-content .tinypress-logo img {
    width: 100%;
}

.tinypress-popup .tinypress-popup-box .popup-content label {
    display: inline-block;
    width: 100%;
    margin-bottom: 20px;
}

.tinypress-popup .tinypress-popup-box .popup-content input[type="url"] {
    margin-top: 15px;
    padding: 10px 8px;
    border: 1px solid #eee;
    transition: 0.3s;
    width: 100%;
}

.tinypress-popup .tinypress-popup-box .popup-content input[type="url"]:focus,
.tinypress-popup .tinypress-popup-box .popup-content input[type="url"]:focus:active {
    border-color: var(--tinypress-color-primary);
    box-shadow: none;
    outline: none;
}

.tinypress-popup .tinypress-popup-box .popup-content .response-area {
    display: inline-block;
    width: 100%;
    text-align: left;
    font-size: 14px;
    line-height: 20px;
}

.tinypress-popup .tinypress-popup-box .popup-content .response-area .response-item {
    display: flex;
    justify-content: start;
    align-items: center;
}

.tinypress-popup .tinypress-popup-box .popup-content .response-area .response-item:first-child {
    margin-bottom: 10px;
}

.tinypress-popup .tinypress-popup-box .popup-content .response-area .response-item .item-label {
    display: inline-block;
    min-width: 100px;
}

.tinypress-popup .tinypress-popup-box .popup-content .response-area .response-item .item-val.long-url {
    word-wrap: break-word;
    overflow: hidden;
}


.tinypress-popup .tinypress-popup-box .popup-content .response-area .tinypress-modal-link .tiny-slug-preview {
    padding: 5px 12px;
    font-size: 16px;
    line-height: 24px;
    border-radius: 4px;
    background: var(--tinypress-color-primary-dim);
    color: var(--tinypress-color-primary);
    border: 1px solid var(--tinypress-color-primary-dim);
}

.tinypress-popup .tinypress-popup-box .popup-actions {
    display: flex;
    justify-content: center;
    align-items: center;
}

.tinypress-popup .tinypress-popup-box .popup-actions .popup-action {
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 1px;
    cursor: pointer;
}

.tinypress-popup .tinypress-popup-box .popup-actions .popup-action.popup-action-create {
    padding: 10px 18px;
    border-radius: 3px;
    background: var(--tinypress-color-primary);
    border-color: var(--tinypress-color-primary);
    color: #fff;
    transition: all 0.3s;
}

.tinypress-popup .tinypress-popup-box .popup-actions .popup-action.popup-action-cancel {
    margin-right: 20px;
    color: var(--tinypress-color-red);
}

/* Support Sidebar Styles */
.tinypress-support-sidebar {
    max-width: 600px;
}

.tinypress-support-sidebar .support-box-header {
    background: #655897;
    color: #ffffff;
    font-size: 14px;
    padding: 8px 12px;
    margin: 0;
    line-height: 1.4;
}

.tinypress-support-sidebar .support-box-content {
    border: 1px solid #655897;
}

.tinypress-support-sidebar .inside {
    padding: 12px;
    line-height: 1.6;
    font-size: 14px;
}

.tinypress-support-sidebar .inside p {
    margin: 0 0 10px 0;
    color: #333;
    font-size: 14px;
}

.tinypress-support-sidebar a.support-link {
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 1em;
    color: #655897;
    text-decoration: none;
    font-weight: 400;
    position: relative;
    padding-right: 0;
}

.tinypress-support-sidebar a.support-link:hover {
    text-decoration: underline;
}

.tinypress-support-sidebar a.support-link svg.linkIcon {
    width: 20px;
    height: 20px;
    fill: #000;
    display: inline-block;
    vertical-align: top;
    margin-left: 4px;
    margin-top: -2px;
}