/**
 * Upgrade to Pro menu link styling
 */
.tinypress-upgrade-link {
    font-weight: bold !important;
    color: #FEB123 !important;
}

.tinypress-upgrade-link:hover {
    color: #FEB123 !important;
}

/**
 * Top notice bar - bold purple banner
 */
.tinypress-version-notice-bold-purple {
    background: #655897 !important;
    height: auto;
    box-sizing: border-box;
    padding: 18px 7px 20px 7px;
    text-align: center;
    position: relative;
    overflow: hidden;
    line-height: 20px;
    margin-left: -20px;
    font-size: 16px;
    color: #fff;
}

.tinypress-version-notice-bold-purple .tinypress-version-notice-bold-purple-button a {
    background: #FCB223;
    color: #000 !important;
    font-weight: normal;
    text-decoration: none;
    padding: 9px 12px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    box-sizing: border-box;
    border: 1px solid #fca871;
    break-inside: avoid;
    white-space: nowrap;
}

.tinypress-version-notice-bold-purple .tinypress-version-notice-bold-purple-button a:hover {
    background: #fcca46;
    color: #000 !important;
}

@media only screen and (min-width: 1075px) {
    .tinypress-version-notice-bold-purple-message,
    .tinypress-version-notice-bold-purple-button {
        display: inline-block;
    }

    .tinypress-version-notice-bold-purple-message {
        margin-right: 25px;
    }
}

@media only screen and (max-width: 1074px) {
    .tinypress-version-notice-bold-purple-message,
    .tinypress-version-notice-bold-purple-button {
        display: block;
    }

    .tinypress-version-notice-bold-purple-button {
        margin-top: 20px;
    }

    .tinypress-version-notice-bold-purple-button a {
        max-width: 170px;
    }
}

@media only screen and (max-width: 600px) {
    .tinypress-version-notice-bold-purple {
        padding-top: 60px;
    }
}
